<!DOCTYPE html>
<html>
<head>
  <title>Start bootstrap admin theme</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "start_bootstrap_admin_theme/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
